.MMM{
    height: 100px;
    width: 100px;
}
.DDD{
    height: 100px;
    width: 100px;
}
.LLL{
    height: 100px;
    width: 100px;
}
.OOO{
    height: 100px;
    width: 100px;
}
.CCC{
    height: 100px;
    width: 100px;
}
.SSS{
    height: 100px;
    width: 100px;
}
.RRR{
    height: 100px;
    width: 100px;
}
.AAA{
    height: 100px;
    width: 100px;
}
#P{
    color: blue;
}
.A{
    color: crimson;
}
.B{
    color: gold;
}
.C{
    color: aqua;
}
.K{
    color: blueviolet;
}
#H{
    color: firebrick;
}
#E{
    color: darkred;
}

.QQQ{
    color: blue;
}
.FFF{
    color: rgb(255, 0, 0);
}
